beautifulsoup4==4.3.2
cffi==0.8.6
cssselect==0.9.1
decorator==4.0.10
Django==1.11.28
django-hitcount==1.2.2
django-taggit==0.21.2
gunicorn==19.6.0
numpy==1.9.1
oauthlib==0.7.2
Pillow==3.0.0
praw==3.5.0
pyasn1==0.1.7
pycparser==2.10
pyOpenSSL==0.14
pyparsing==2.0.3
python-dateutil==2.4.0
pytz==2014.10
dj-database-url==0.4.1
gunicorn==19.6.0
psycopg2==2.6.2
whitenoise==3.2