{% extends "hjem/base.html" %}
{% load static %}
{% block title %}Utesteder{% endblock %}
{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'utesteder/css/sidebar.css' %}" />{% endblock %}

{% block content %}

<div id="utestedwrapper" class="pageCont">
	<div class="sidebar">
        <div class="borderdiv"></div>
        <div class="borderdiv marginborder1"></div>
        <div class="borderdiv marginborder2"></div>
        <div class="borderdiv marginborder3"></div>

        <div class="categorySidebar dropdown">
            <button class = "dropbtn" onclick="dropdown()">Byer</button>
            <div id = "dropdownId" class = "dropdownContent">
                {% for byen in byer.iterator %}
                <ul>
                    <a href="#" id="by">{{ byen.name }}</a>
                </ul>
                {% endfor %}
            </div>
        </div>
        <ul id = "sidebarUtesteder" class = "sidebarList">
            {% for utested in utesteder.iterator %}
                <li><a class = "utestedNav" id = "sidebarLink" href="/utesteder/{{ utested.id }}/">{{ utested.name }}</a></li>
            {% endfor %}
        </ul>
	</div>


    <div id="utestedcontent">
        <h1 class="utestedName">
            {{ topUtested.name }}
        </h1>

        <img class = "mainImage" src ="{% static "hjem/img/Antikvariatet_02.jpg" %}" alt = "Main Picture" height = "375", width="680">
        <div class = "utestedLeftSide">
            <p class = "utestedBody">
                {{ topUtested.body  }}
            </p>
            <div class = ratingWrapper>
                <div class = "topleftborder"></div>
                <div class = "toprightborder"></div>

                <span class="ratingHead">Rating</span>
                    <h5>Overall</h5>
                        <div id="rateYo", class="jq-ry-container rateYo1"></div>
                    <h6>Atmosfære</h6>
                        <div id="rateYo", class="jq-ry-container rateYo2 smallstar"></div>
                    <h6>Priser</h6>
                        <div id="rateYo", class="jq-ry-container rateYo3 smallstar"></div>
                    <h6>Dansing</h6>
                        <div id="rateYo", class="jq-ry-container rateYo4 smallstar"></div>
            </div>
        </div>
        <div class = "utestederRightSide">
            <div class = "bordertop"></div>
            <ul id = "listRightSide">
                <div class="borderdivleft "></div>
                <h6 class = "headRightSide">Åpningstider</h6>
                <h7 class="dayOpening">{{ apningstider.0 }}</h7>
                <p>{{ apningstider.1 }}</p>
                <h7 class="dayOpening">{{ apningstider.2 }}</h7>
                <p>{{ apningstider.3 }}</p>
                <h7 class="dayOpening">{{ apningstider.4 }}</h7>
                <p>{{ apningstider.5 }}</p>

            </ul>
            <ul id = "listRightSide" class = "olpriser">
                <div class="bordertop2"></div>
                <div class="borderdivleft olprisborder"></div>
                <h6 class = "headRightSide" id="headol">Ølpriser</h6>
                <p>{{ priser.0 }}</p>
                <p>{{ priser.1 }}</p>
                <p>{{ priser.2 }}</p>
            </ul>
            <div id="listRightSide" class="kartwrapper">
                <div class="bordertop2"></div>
                <div class="kartborder"></div>
                <h6 class="headRightSide" id="headol">Kart</h6>
                <p> <div id="map"></div>
                <script>
                function initMap() {
                    var mapDiv = document.getElementById('map');
                    var map = new google.maps.Map(mapDiv, {
                        center: {lat: 63.4283654, lng: 10.402671},
                        zoom: 14
                    });
                }
                </script>
                <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key= AIzaSyAsyhnJAvvwV5YA0JN8D0tKLFiYy2-ZKSk&callback=initMap">
                </script>
                </p>
                <div class="borderkartbot"></div>
            </div>
        </div>

    </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="http://rateyo.fundoocode.ninja/bower_components/jquery-rateyo/min/jquery.rateyo.min.css" />
        <script src="http://rateyo.fundoocode.ninja/bower_components/jquery-rateyo/min/jquery.rateyo.min.js"></script>
        <script>
    $(document).ready(function () {
        var ratingH =  "{{ topUtested.hScore }}";
        var ratingA =  "{{ topUtested.aScore }}";
        var ratingP =  "{{ topUtested.pScore }}";
        var ratingD =  "{{ topUtested.dScore }}";

        $(".rateYo1").rateYo({
            rating: ratingH,
            fullStar: false,
            ratedFill: "#794788",
            normalFill: "#f2eee0"


        });
        $(".rateYo2").rateYo({
            rating: ratingA,
            fullStar: false,
            starWidth: "25px",
            ratedFill: "#794788",
            normalFill: "#f2eee0"


        });
        $(".rateYo3").rateYo({
            rating: ratingP,
            fullStar: false,
            ratedFill: "#794788",
            starWidth: "25px",
            normalFill: "#f2eee0"

        });
        $(".rateYo4").rateYo({
            rating: ratingD,
            fullStar: false,
            ratedFill: "#794788",
            starWidth: "25px",
            normalFill: "#f2eee0"
        });
    });
    function dropdown() {
        document.getElementById("dropdownId").classList.toggle("show")
    }
    window.onclick = function (event) {
        if(!event.target.matches('dropdownContent')){
            var dropdowns = document.getElementById('dropdownContent');
            var i;
            for(i = 0; i<dropdowns.length;i++){
                var openDropdown = dropdowns[i];
                if(openDropdown.classList.contains('show')){
                    openDropdown.classList.remove('show')
                }
            }
        }
    }
    $(document).ready(function () {
        $("#sidebarLink").each(function () {
            if($(this).)
        })
    });

    </script>
</div>
{% endblock %}
